/* ========================= */
/* Google Font */
/* ========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow-x:hidden;

    color:#fff;

    background:linear-gradient(
        135deg,
        #0f172a,
        #312e81,
        #6d28d9
    );

}

/* ========================= */
/* Animated Background */
/* ========================= */

.bg{

    position:fixed;
    inset:0;

    z-index:-1;

    background:
    radial-gradient(circle at top left,
    rgba(0,170,255,.35),
    transparent 45%),

    radial-gradient(circle at bottom right,
    rgba(140,0,255,.35),
    transparent 45%);

    animation:bgMove 12s ease infinite alternate;

}

@keyframes bgMove{

0%{

transform:scale(1);

}

100%{

transform:scale(1.15);

}

}

/* ========================= */
/* Main Container */
/* ========================= */

.container{

    width:100%;
    max-width:520px;

    padding:30px 18px;

}

.page{

    display:none;

    animation:fade .45s ease;

}

.page.active{

    display:block;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}

/* ========================= */
/* Glass Card */
/* ========================= */

.glass{

    width:100%;

    padding:35px 25px;

    border-radius:28px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.18);

    box-shadow:
    0 10px 40px rgba(0,0,0,.35);

    text-align:center;

}

/* ========================= */
/* Logo */
/* ========================= */

.logo{

    width:90px;
    height:90px;

    margin:0 auto 20px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:42px;

    background:linear-gradient(
    135deg,
    #2563eb,
    #8b5cf6);

    box-shadow:
    0 0 25px rgba(99,102,241,.45);

}

/* ========================= */
/* Titles */
/* ========================= */

h1{

    font-size:32px;

    font-weight:700;

    margin-bottom:10px;

}

.brandTitle{

    margin-top:5px;

}

.welcomeText{

    letter-spacing:4px;

    font-size:15px;

    margin-bottom:15px;

    color:#d1d5db;

}

.gradient{

    background:linear-gradient(
    90deg,
    #38bdf8,
    #a855f7);

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

}

.subtitle,
.pageDescription,
.footerText,
.finalText{

    color:#d6d6d6;

    line-height:1.7;

    margin-top:12px;

}
